![insomnia](insomnia.jpg)

Your client, SleepInc, has shared anonymized sleep data from their hot new sleep tracking app SleepScope. As their data science consultant, your mission is to analyze the lifestyle survey data with Python to discover relationships between exercise, gender, occupation, and sleep quality. See if you can identify patterns leading to insights on sleep quality.

## ðŸ’¾ The data: sleep_health_data.csv

SleepInc has provided you with an anonymized dataset of sleep and lifestyle metrics for 374 individuals. This dataset contains average values for each person calculated over the past six months. The data is saved as `sleep_health_data.csv`.

The dataset includes 13 columns covering sleep duration, quality, disorders, exercise, stress, diet, demographics, and other factors related to sleep health. 

| Column | Description |
|---------|----------------------------------------|  
| `Person ID` | An identifier for each individual. |
| `Gender` | The gender of the person (Male/Female). |  
| `Age` | The age of the person in years. |
| `Occupation` | The occupation or profession of the person. |
| `Sleep Duration (hours)` | The average number of hours the person sleeps per day. |
| `Quality of Sleep (scale: 1-10)` | A subjective rating of the quality of sleep, ranging from 1 to 10. |
| `Physical Activity Level (minutes/day)` | The average number of minutes the person engages in physical activity daily. |  
| `Stress Level (scale: 1-10)` | A subjective rating of the stress level experienced by the person, ranging from 1 to 10. |
| `BMI Category` | The BMI category of the person (e.g., Underweight, Normal, Overweight). |
| `Blood Pressure (systolic/diastolic)` | The average blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure. |
| `Heart Rate (bpm)` | The average resting heart rate of the person in beats per minute. |
| `Daily Steps` | The average number of steps the person takes per day. |
| `Sleep Disorder` | The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea). |

- Which occupation has the lowest average sleep duration? Save this in a string variable called lowest_sleep_occ.

- Which occupation has the lowest average sleep quality? Save this in a string variable called lowest_sleep_quality_occ. Did the occupation with the lowest sleep duration also have the lowest sleep quality? If so assign a boolean value to variable same_occ variable, True if it is the same occupation, and False if it isn't.

- Let's explore how BMI Category can affect sleep disorder rates. Start by finding what ratio of app users in each BMI Category have been diagnosed with Insomnia. Create a dictionary named: bmi_insomnia_ratios. The key should be the BMI Category as a string, while the value should be the ratio of people in this category with insomnia as a float rounded to two decimal places. Here is an example:
    ```python
    bmi = {
        "Normal": float,
        "Overweight": float,
        "Obese": float
    }
    ```

- Please note the keys are case-sensitive, and should be formatted as shown in the example dictionary.

In [1]:
# Start coding here
# Use as many cells as you need
import pandas as pd

sleep_df = pd.read_csv('sleep_health_data.csv')
sleep_df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [2]:
sleep_df['Occupation'].value_counts()

Occupation
Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: count, dtype: int64

In [8]:
# Question 1: Which occupation has the lowest average sleep duration? - > lowest_sleep_occ
grouped_occupations = sleep_df.groupby(by='Occupation')['Sleep Duration'].agg(['sum', 'mean']).sort_values('mean', ascending=True).round(0)
grouped_occupations

                        sum  mean
Occupation
Sales Representative   12.0   6.0
Scientist              24.0   6.0
Salesperson           205.0   6.0
Teacher               268.0   7.0
Software Engineer      27.0   7.0
Manager                 7.0   7.0
Doctor                495.0   7.0
Nurse                 516.0   7.0
Accountant            263.0   7.0
Lawyer                348.0   7.0
Engineer              503.0   8.0

In [10]:
lowest_sleep_occ = grouped_occupations.index[0]
lowest_sleep_occ

'Sales Representative'

In [11]:
# Question 2: Which occupation has the lowest average sleep quality? - >  called lowest_sleep_quality_occ
grouped_occupations_quality = sleep_df.groupby(by='Occupation')['Quality of Sleep'].agg(['sum', 'mean']).sort_values('mean', ascending=True).round(0)
grouped_occupations_quality

                      sum  mean
Occupation
Sales Representative    8   4.0
Scientist              20   5.0
Salesperson           192   6.0
Software Engineer      26   6.0
Doctor                472   7.0
Teacher               279   7.0
Manager                 7   7.0
Nurse                 538   7.0
Accountant            292   8.0
Lawyer                371   8.0
Engineer              530   8.0

In [13]:
lowest_sleep_quality_occ = grouped_occupations_quality.index[0]
lowest_sleep_quality_occ

'Sales Representative'

In [14]:
# Question 3: Did the occupation with the lowest sleep duration also have the lowest sleep quality?
if lowest_sleep_occ == lowest_sleep_quality_occ:
  same_occ = True
else:
  same_occ = False

In [18]:
sleep_df['Sleep Disorder'].value_counts()

Sleep Disorder
Sleep Apnea    78
Insomnia       77
Name: count, dtype: int64

In [19]:
# Question 4: Explore how BMI Category can affect sleep disorder rates
bmi = {
    "Normal": float,
    "Overweight": float,
    "Obese": float 
}

normal = sleep_df[(sleep_df["BMI Category"] == "Normal") &  
                  (sleep_df["Sleep Disorder"] == "Insomnia")]
normal

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
18,19,Female,29,Nurse,6.5,5,40,7,Normal,132/87,80,4000,Insomnia
31,32,Female,30,Nurse,6.4,5,35,7,Normal,130/86,78,4100,Insomnia
67,68,Male,33,Doctor,6.0,6,30,8,Normal,125/80,72,5000,Insomnia
94,95,Female,36,Accountant,7.2,8,60,4,Normal,115/75,68,7000,Insomnia
146,147,Male,39,Lawyer,7.2,8,60,5,Normal,130/85,68,8000,Insomnia
165,166,Male,41,Lawyer,7.6,8,90,5,Normal,130/85,70,8000,Insomnia
201,202,Male,43,Engineer,7.8,8,90,5,Normal,130/85,70,8000,Insomnia
202,203,Male,43,Engineer,7.8,8,90,5,Normal,130/85,70,8000,Insomnia
315,316,Female,53,Engineer,8.3,9,30,3,Normal,125/80,65,5000,Insomnia

In [21]:
# Total normal rows               
total_normal = len(sleep_df[sleep_df["BMI Category"] == "Normal"])  
# Calculate normal insomnia ratio               
normal_insomnia_ratio = round(len(normal) / total_normal, 2) * 100
normal_insomnia_ratio

4.0

# Solution

In [ ]:
# Read in the data 
sleep_df = pd.read_csv('sleep_health_data.csv')

# 1. Which occupation has the lowest average sleep duration? Save this in a string variable called `lowest_sleep_occ`.

# Groupby occupation and calculate mean sleep duration 
sleep_duration = sleep_df.groupby('Occupation')['Sleep Duration'].mean()
# Get occupation with lowest average sleep duration
lowest_sleep_occ = sleep_duration.sort_values().index[0]

# 2. Which occupation had the lowest quality of on average? Did the occupation with the lowest sleep duration also have the worst sleep quality?

# Groupby occupation and calculate average sleep quality
sleep_quality = sleep_df.groupby('Occupation')['Quality of Sleep'].mean()  
# Get occupation with lowest average sleep quality 
lowest_sleep_quality_occ = sleep_quality.sort_values().index[0]

# Compare occupation with the least sleep to occupation with the lowest sleep quality
if lowest_sleep_occ == lowest_sleep_quality_occ:
  same_occ = True
else:
  same_occ = False
  
# 3. Let's explore how BMI Category can affect sleep disorder rates. Start by finding what ratio of app users in each BMI category have been diagnosed with Insomnia.

# Normal
# Filter the full dataframe to only rows where BMI Category is Normal and Sleep Disorder is Insomnia.
normal = sleep_df[(sleep_df["BMI Category"] == "Normal") &  
                  (sleep_df["Sleep Disorder"] == "Insomnia")]
normal2 = sleep_df[(sleep_df["BMI Category"] == "Normal Weight") &  
                  (sleep_df["Sleep Disorder"] == "Insomnia")]
# Total normal rows               
total_normal = len(sleep_df[sleep_df["BMI Category"] == "Normal"])  
# Calculate normal insomnia ratio               
normal_insomnia_ratio = round(len(normal) / total_normal, 2) 


# Overweight
# Filter the full dataframe to only rows where BMI Category is Overweight and Sleep Disorder is Insomnia.
overweight = sleep_df[(sleep_df["BMI Category"] == "Overweight") &   
                      (sleep_df["Sleep Disorder"] == "Insomnia")]  
# Total overweight rows
total_overweight = len(sleep_df[sleep_df["BMI Category"] == "Overweight"])  
# Calculate overweight insomnia ratio 
overweight_insomnia_ratio = round(len(overweight) / total_overweight, 2)


# Obese
# Filter the full dataframe to only rows where BMI Category is Obese and Sleep Disorder is Insomnia.
obese = sleep_df[(sleep_df["BMI Category"] == "Obese") &  
                  (sleep_df["Sleep Disorder"] == "Insomnia")]
# Total obese rows          
total_obese = len(sleep_df[sleep_df["BMI Category"] == "Obese"])  
# Calculate obese insomnia ratio
obese_insomnia_ratio = round(len(obese) / total_obese, 2)


# Create dictionary to store the ratios for each BMI category 
bmi_insomnia_ratios = {
    "Normal": normal_insomnia_ratio,  
    "Overweight": overweight_insomnia_ratio,
    "Obese": obese_insomnia_ratio 
}