![Header image](resources/image.jpg)

Exciting times! 

You've been running our very successful gadget webshop 'DataGadgets' for a few years and have recently expanded into new territories. While you've been focussed on the US market for the first five years of our existence, you now are shipping our cool data gadgets to the UK and Europe, too! But now our in-house built reporting has broken! Transactions don't only come in USD, but you're also receiving transactions in EUR and GPB. 

To better understand the volume of transactions being made, you should convert the non-USD transactions to USD and sum up the total. To do this, however, you'll need to use the proper exchange rates. 

In this project, you'll start with a CSV file containing all e-commerce transactions made on January 21st, but in their original currencies. Your job is to calculate the total sum in USD of all transactions so you know how much USD you sold on January 21st. To do this, you'll need to convert any non-USD transactions to USD using the exchange rate from January 21st, 2024. 

To get the exchange rates from January 21st, 2024, you'll rely on [VAT Comply rates API's](https://www.vatcomply.com/documentation#rates) public and free currency exchange API. You'll also use `pandas` to load the CSV file into a DataFrame and the `requests` package to make interacting with the API easier. 

You need to update the `orders` DataFrame so the final version has two new columns: `exchange_rate` and `amount_usd`. The final version should look as follows:

| `amount` | `currency` | `exchange_rate` | `amount_usd` |
|-|-|-|-|
| 43.75 | EUR | ... | ... |
| 385.5 | GBP | ... | ... |
| 495.5 | GBP | ... | ... |
| 117.99 | GBP | ... | ... |
| 624 | USD | ... | ... |

- Query the VAT Comply rates API 'https://api.vatcomply.com/rates', using parameters to get the exchange rates for a base currency of 'USD' and the date of '2024-01-21'.
- Using the orders DataFrame and the exchange rate from the API, calculate the total amount sold in USD, saving as a variable called total_usd_sales.
- Ensure the final version of the orders DataFrame matches the requirements detailed in the Workbook.
  
*The VAT Comply rates API is free to use and doesn't require registration/authentication.

In [1]:
# Import required packages/libraries
import pandas as pd
import requests

# Read the CSV file into a DataFrame
orders = pd.read_csv('data/orders-2024-01-21.csv')
orders.head()

   amount currency
0   43.75      EUR
1  385.50      GBP
2  495.50      GBP
3  117.99      GBP
4  624.00      USD

In [4]:
request_url = 'https://api.vatcomply.com/rates'

params = {
    'date': '2025-03-07',
    'base': 'USD'
}
response = requests.get(request_url, params=params)
rates = response.json()['rates']
rates

{'EUR': 0.9262689885142646,
 'USD': 1.0,
 'JPY': 147.49907373101152,
 'BGN': 1.8115968877361988,
 'CZK': 23.20025935531679,
 'DKK': 6.909318266024454,
 'GBP': 0.7761207854761023,
 'HUF': 371.13745831789555,
 'PLN': 3.869025565024083,
 'RON': 4.608558725453872,
 'SEK': 10.153760652093368,
 'CHF': 0.8859762875138941,
 'ISK': 136.06891441274547,
 'NOK': 10.852167469433123,
 'TRY': 36.42395331604298,
 'AUD': 1.5780844757317527,
 'BRL': 5.751018895887366,
 'CAD': 1.436550574286773,
 'CNY': 7.247776954427566,
 'HKD': 7.773434605409412,
 'IDR': 16367.951092997408,
 'ILS': 3.614579473879215,
 'INR': 87.07669507224898,
 'KRW': 1448.249351611708,
 'MXN': 20.40311226380141,
 'MYR': 4.427473138199333,
 'NZD': 1.7423119673953318,
 'PHP': 57.358280844757324,
 'SGD': 1.3326231937754727,
 'THB': 33.71526491293072,
 'ZAR': 18.301130048165987}

In [5]:
orders['exchange_rate'] = orders['currency'].map(rates)
orders

     amount currency  exchange_rate
0     43.75      EUR       0.926269
1    385.50      GBP       0.776121
2    495.50      GBP       0.776121
3    117.99      GBP       0.776121
4    624.00      USD       1.000000
..      ...      ...            ...
718  915.50      USD       1.000000
719  835.05      EUR       0.926269
720  891.50      GBP       0.776121
721  414.75      USD       1.000000
722  766.90      USD       1.000000

[723 rows x 3 columns]

In [6]:
orders['amount_usd'] = orders['amount'] * orders['exchange_rate']
total_usd_sales = orders['amount_usd'].sum()
total_usd_sales

326122.51203408674

# Solution

In [ ]:
# Import required packages/libraries
import pandas as pd
import requests

# Read the CSV file into a DataFrame
orders = pd.read_csv('data/orders-2024-01-21.csv')

# Get exchange rates from API
request_url = 'https://api.vatcomply.com/rates'
params = {
    'date' : '2024-01-21',
    'base': 'USD'
} 
response = requests.get(request_url, params=params)
rates = response.json()['rates']

# Apply exchange rates
orders['exchange_rate'] = orders['currency'].map(rates)

# Alternatively, manually create each of the exchange_rate values in the DataFrame, e.g.,
# orders['exchange_rate'] = 0
# orders.loc[orders['currency'] == 'EUR', 'exchange_rate'] = rates['EUR'] 
# orders.loc[orders['currency'] == 'GBP', 'exchange_rate'] = rates['GBP']
# orders.loc[orders['currency'] == 'USD', 'exchange_rate'] = rates['USD']

# Calculate sales in US dollars
orders['amount_usd'] = orders['amount'] * orders['exchange_rate']

# Find the total amount of sales in US dollars
total_usd_sales = orders['amount_usd'].sum()

print(total_usd_sales)